
.seccionLigas {
    margin-top: 40px;
    margin-bottom: 60px;
}

.seccionLigas h2,
.seccionPopulares h2 {
    font-size: 28px;
    margin-bottom: 25px;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid #ff9900;
}

.listaLigas {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.itemLiga img {
    height: 60px;
    margin-bottom: 10px;
}
.itemLiga {
    text-decoration: none;    
    font-weight: bold;
}



.itemLiga span {
    display: block;
    font-weight: bold;
    color: #000;              
    margin-top: 5px;
}



.seccionPopulares {
    margin-bottom: 60px;
}

.gridProductos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
}

.tarjetaProducto {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    width: calc(25% - 15px);   
    min-width: 220px;          
}
.tarjetaProducto p {
  font-family: 'Poppins', sans-serif;
  color: #222; 
}

.tarjetaProducto:hover .precioProducto {
  color: #e64a19;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.tarjetaProducto img {
    max-width: 100%;
    height: 160px;
    object-fit: contain;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.tarjetaProducto p {
    margin: 5px 0;
    font-family: "Montserrat", sans-serif; 
}

.tarjetaProducto .precioProducto {
    color: inherit;
    font-weight: 700;
    margin-bottom: 15px;
}


.contenedorBotonVerMas {
    text-align: center;
    margin-top: 40px;
}

.verMas {
    color: #ff9900;
    text-decoration: underline;
    font-weight: bold;
}
