// Colores base 
$color-principal: #ff9900;   
$color-fondo-tarjeta: #fff;
$color-borde-suave: #eee;

// Tipografías
$font-base: "Montserrat", sans-serif;

// Sombra para tarjetas
$sombra-hover: 0 8px 20px rgba(0, 0, 0, 0.15);
